<ion-header>
    <ion-toolbar>
        <ion-title>
            QuizFATEC
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        {{nickname}}, seja bem-vindo ao QuizFATEC.
        <p>Selecione o tema da questão sortida:</p>
    </div>
    <div class="ion-text-center">
        <ion-button class="button button-block" color="darkslategray" (click)="searchMultidisciplinar()">
            <ion-icon name="apps"></ion-icon>
            &nbsp; MULTIDISCIPLINAR
        </ion-button>
        <ion-button class="button button-block" color="mediumspringgreen" (click)="searchRacLogico()">
            <ion-icon name="settings"></ion-icon>
            &nbsp; RACIOCÍNIO LÓGICO
        </ion-button>
        <ion-button class="button button-block" color="springgreen" (click)="searchHistoria()">
            <ion-icon name="search"></ion-icon>
            &nbsp; HISTÓRIA
        </ion-button>
        <ion-button class="button button-block" color="palegreen" (click)="searchQuimica()">
            <ion-icon name="flask"></ion-icon>
            &nbsp; QUÍMICA
        </ion-button>
        <ion-button class="button button-block" color="lightgreen" (click)="searchIngles()">
            <ion-icon name="chatboxes"></ion-icon>
            &nbsp; INGLÊS
        </ion-button>
        <ion-button class="button button-block" color="darkseagreen" (click)="searchMatematica()">
            <ion-icon name="calculator"></ion-icon>
            &nbsp; MATEMÁTICA
        </ion-button>
        <ion-button class="button button-block" color="mediumseagreen" (click)="searchFisica()">
            <ion-icon name="bulb"></ion-icon>
            &nbsp; FÍSICA
        </ion-button>
        <ion-button class="button button-block" color="seagreen" (click)="searchGeografia()">
            <ion-icon name="compass"></ion-icon>
            &nbsp; GEOGRAFIA
        </ion-button>
        <ion-button class="button button-block" color="darkgreen" (click)="searchBiologia()">
            <ion-icon name="leaf"></ion-icon>
            &nbsp; BIOLOGIA
        </ion-button>
        <ion-button class="button button-block" color="green" (click)="searchPortugues()">
            <ion-icon name="book"></ion-icon>
            &nbsp; PORTUGUÊS
        </ion-button>

    </div>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-padding-end">
                <div class="ion-text-center">
                    <ion-button color="danger" (click)="logout()">Sair</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>