:root {
    --ion-color-darkslategray: #2F4F4F;
    --ion-color-darkslategray-rgb: 47, 79, 79;
    --ion-color-darkslategray-contrast: #ffffff;
    --ion-color-darkslategray-contrast-rgb: 255, 255, 255;
    --ion-color-darkslategray-shade: #294646;
    --ion-color-darkslategray-tint: #446161;
    --ion-color-mediumspringgreen: #00FA9A;
    --ion-color-mediumspringgreen-rgb: 0, 250, 154;
    --ion-color-mediumspringgreen-contrast: #000000;
    --ion-color-mediumspringgreen-contrast-rgb: 0, 0, 0;
    --ion-color-mediumspringgreen-shade: #00dc88;
    --ion-color-mediumspringgreen-tint: #1afba4;
    --ion-color-springgreen: #00FF7F;
    --ion-color-springgreen-rgb: 0, 255, 127;
    --ion-color-springgreen-contrast: #000000;
    --ion-color-springgreen-contrast-rgb: 0, 0, 0;
    --ion-color-springgreen-shade: #00e070;
    --ion-color-springgreen-tint: #1aff8c;
    --ion-color-palegreen: #98FB98;
    --ion-color-palegreen-rgb: 152, 251, 152;
    --ion-color-palegreen-contrast: #000000;
    --ion-color-palegreen-contrast-rgb: 0, 0, 0;
    --ion-color-palegreen-shade: #86dd86;
    --ion-color-palegreen-tint: #a2fba2;
    --ion-color-lightgreen: #90EE90;
    --ion-color-lightgreen-rgb: 144, 238, 144;
    --ion-color-lightgreen-contrast: #000000;
    --ion-color-lightgreen-contrast-rgb: 0, 0, 0;
    --ion-color-lightgreen-shade: #7fd17f;
    --ion-color-lightgreen-tint: #9bf09b;
    --ion-color-darkseagreen: #8FBC8F;
    --ion-color-darkseagreen-rgb: 143, 188, 143;
    --ion-color-darkseagreen-contrast: #000000;
    --ion-color-darkseagreen-contrast-rgb: 0, 0, 0;
    --ion-color-darkseagreen-shade: #7ea57e;
    --ion-color-darkseagreen-tint: #9ac39a;
    --ion-color-mediumseagreen: #3CB371;
    --ion-color-mediumseagreen-rgb: 60, 179, 113;
    --ion-color-mediumseagreen-contrast: #000000;
    --ion-color-mediumseagreen-contrast-rgb: 0, 0, 0;
    --ion-color-mediumseagreen-shade: #359e63;
    --ion-color-mediumseagreen-tint: #50bb7f;
    --ion-color-seagreen: #2E8B57;
    --ion-color-seagreen-rgb: 46, 139, 87;
    --ion-color-seagreen-contrast: #ffffff;
    --ion-color-seagreen-contrast-rgb: 255, 255, 255;
    --ion-color-seagreen-shade: #287a4d;
    --ion-color-seagreen-tint: #439768;
    --ion-color-darkgreen: #006400;
    --ion-color-darkgreen-rgb: 0, 100, 0;
    --ion-color-darkgreen-contrast: #ffffff;
    --ion-color-darkgreen-contrast-rgb: 255, 255, 255;
    --ion-color-darkgreen-shade: #005800;
    --ion-color-darkgreen-tint: #1a741a;
    --ion-color-green: #008000;
    --ion-color-green-rgb: 0, 128, 0;
    --ion-color-green-contrast: #ffffff;
    --ion-color-green-contrast-rgb: 255, 255, 255;
    --ion-color-green-shade: #007100;
    --ion-color-green-tint: #1a8d1a;
}

ion-header {
    --ion-background-color: #006400;
}

.ion-color-green {
    --ion-color-base: var(--ion-color-green);
    --ion-color-base-rgb: var(--ion-color-green-rgb);
    --ion-color-contrast: var(--ion-color-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-green-shade);
    --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-darkgreen {
    --ion-color-base: var(--ion-color-darkgreen);
    --ion-color-base-rgb: var(--ion-color-darkgreen-rgb);
    --ion-color-contrast: var(--ion-color-darkgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkgreen-shade);
    --ion-color-tint: var(--ion-color-darkgreen-tint);
}

.ion-color-seagreen {
    --ion-color-base: var(--ion-color-seagreen);
    --ion-color-base-rgb: var(--ion-color-seagreen-rgb);
    --ion-color-contrast: var(--ion-color-seagreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-seagreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-seagreen-shade);
    --ion-color-tint: var(--ion-color-seagreen-tint);
}

.ion-color-mediumseagreen {
    --ion-color-base: var(--ion-color-mediumseagreen);
    --ion-color-base-rgb: var(--ion-color-mediumseagreen-rgb);
    --ion-color-contrast: var(--ion-color-mediumseagreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mediumseagreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-mediumseagreen-shade);
    --ion-color-tint: var(--ion-color-mediumseagreen-tint);
}

.ion-color-darkseagreen {
    --ion-color-base: var(--ion-color-darkseagreen);
    --ion-color-base-rgb: var(--ion-color-darkseagreen-rgb);
    --ion-color-contrast: var(--ion-color-darkseagreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkseagreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkseagreen-shade);
    --ion-color-tint: var(--ion-color-darkseagreen-tint);
}

.ion-color-darkslategray {
    --ion-color-base: var(--ion-color-darkslategray);
    --ion-color-base-rgb: var(--ion-color-darkslategray-rgb);
    --ion-color-contrast: var(--ion-color-darkslategray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkslategray-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkslategray-shade);
    --ion-color-tint: var(--ion-color-darkslategray-tint);
}

.ion-color-mediumspringgreen {
    --ion-color-base: var(--ion-color-mediumspringgreen);
    --ion-color-base-rgb: var(--ion-color-mediumspringgreen-rgb);
    --ion-color-contrast: var(--ion-color-mediumspringgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mediumspringgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-mediumspringgreen-shade);
    --ion-color-tint: var(--ion-color-mediumspringgreen-tint);
}

.ion-color-springgreen {
    --ion-color-base: var(--ion-color-springgreen);
    --ion-color-base-rgb: var(--ion-color-springgreen-rgb);
    --ion-color-contrast: var(--ion-color-springgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-springgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-springgreen-shade);
    --ion-color-tint: var(--ion-color-springgreen-tint);
}

.ion-color-palegreen {
    --ion-color-base: var(--ion-color-palegreen);
    --ion-color-base-rgb: var(--ion-color-palegreen-rgb);
    --ion-color-contrast: var(--ion-color-palegreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-palegreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-palegreen-shade);
    --ion-color-tint: var(--ion-color-palegreen-tint);
}

.ion-color-lightgreen {
    --ion-color-base: var(--ion-color-lightgreen);
    --ion-color-base-rgb: var(--ion-color-lightgreen-rgb);
    --ion-color-contrast: var(--ion-color-lightgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lightgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-lightgreen-shade);
    --ion-color-tint: var(--ion-color-lightgreen-tint);
}